<?xml version="1.0"?>
<launch>
  <include file="$(find kortex_gazebo)/launch/spawn_kortex_robot.launch" >
  <arg name="start_rviz" value="false" />
  </include>

  <group ns="my_gen3">
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find manipulator_control)/rviz/kinova_gen3.rviz" />
  </group>

</launch>